<div class="flex flex-column align-items-center gap-2">

  <div class="flex flex-column align-items-center gap-2">
    <h1>{{(disableButtons() ? 'play.SET_LANG' : 'play.CHOOSE_GAME') | translate}}</h1>
    <div class="flex gap-4 align-items-center my-4">
      <p-dropdown [options]="languages" optionLabel="name" [(ngModel)]="selectedLanguage1" placeholder="{{'home.NEW_LANGUAGE' | translate}}"></p-dropdown>
      <app-arrow></app-arrow>
      <p-dropdown [options]="languages" optionLabel="name" [(ngModel)]="selectedLanguage2" placeholder="{{'home.OLD_LANGUAGE' | translate}}"></p-dropdown>
    </div>
    <p class="text-red-500" *ngIf="selectedSameLanguage()">{{'play.SAME_LANG' | translate}}</p>
  </div>

  <p-carousel *ngIf="games.length>0 && !disableButtons()" [value]="games" [numVisible]="3" [numScroll]="3" [responsiveOptions]="responsiveOptions">
    <ng-template let-game pTemplate="item">
      <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
        <div class="mb-3">
          <img alt="Game image" src="../../../assets/games/img.png" class="w-6 shadow-2"/>
        </div>
        <div>
          <h3 class="mb-1">{{ game.name }}</h3>
          <div class="mt-5">
            <p-button label="{{'home.PLAY' | translate}}"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>

</div>
